<link rel="stylesheet" href="/component/footer/footer.css">
<div class="footer-top d-flex align-content-start flex-wrap">
    <a href="#"><img src="/images/logo.jpg" class="footer-logo" alt="logo"></img></a>
    <div class="content1">
        <p><b>CÔNG TY CỔ PHẦN JUSTCLICK</b></br>
            Địa chỉ: Bitexco Financial Tower, Số 2 Hải Triều, Bến Nghé, Quận 1, Hồ Chí Minh</br>
            Hotline: (+84)0935624754</p>
    </div>
    <div class="content2">
        <p>Chấp nhận thanh toán</p>
        <image src="/images/visa.png" class="footer-card-rectangle" alt="card"></img>
        <image src="/images/Momo.png" class="footer-card-square" alt="card"></img>
        <image src="/images/atm.png" class="footer-card-square" alt="card"></img>
        
        <p class="clear">Theo dõi chúng tôi tại</p>
        <a href="#">
            <image src="/images/facebook.webp" class="footer-card-square" alt="card"></img>
        </a>
        <a href="#">
            <image src="/images/youtube.png" class="footer-card-square" alt="card"></img>
        </a>
    </div>
</div>

<div class="footer-bottom d-flex align-content-start flex-wrap">
    <div class="content1">
        <p><b>© 2016 - Bản quyền Công ty Cổ phần JUSTCLICK</b></br>
            Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày
            06/01/2010</p>
    </div>
    <div class="content2">
        <image src="/images/BCT.png" class="footer-card-rectangle2" alt="card"></img>
    </div>
</div>