<link rel="stylesheet" href="/component/item/item.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
<a href="/user/product_infor">
    <img class="item-image" src="/component/item/book.jpeg" alt="Book"> 
    <p class="item-title">Không Phải Chưa Đủ Năng Lực, Mà Là Chưa Đủ Kiên Trì</p>
    <div class="item-rating">
        <span class="fa fa-star checked" style="font-size:24px"></span>
        <span class="fa fa-star checked" style="font-size:24px"></span>
        <span class="fa fa-star checked" style="font-size:24px"></span>
        <span class="fa fa-star" style="font-size:24px"></span>
        <span class="fa fa-star" style="font-size:24px"></span>
    </div>
    <p class="item-price">46.000 VND</p>
    <p class="item-ori-price">71.000 VND</p>
</a>
</div>

