div a{
    text-decoration: none;
    color: black;
}

/* Hộp chứa trái tim + khung item bên trong */
div.outside-container {
    padding: 5px;
}


div.inside-container{
    /* position: relative; */
    float: center;
    width: 235px;
    height: 370px;
    background-color: #FFECEC;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.container:hover{

    background-color: #FB9B9B;
}

.item-image{
    padding: 15px 15px 0px 15px;
    align-items: center;
    width: 220px;
    height: 200px;
    left: 127px;
    top: 1120px;
}

.item-title{
    margin-top:10px;
    padding-left: 15px;
}

.item-rating{
    padding-left: 15px;

}

.item-price{
    padding-left: 15px;
    margin-bottom: 0px;
    font-size: 24px;
    color: red;
}

.item-ori-price{
    padding-left: 15px;
    font-size:16px;
    text-decoration: line-through;
}

.checked {
    color: orange;
  }


  /* Hình trái tim đặt ở góc trên phải */
img.favor-img {
    position: absolute;
    right: 0%;
    top: 0%;
}

/* Element a bao quanh khung */
a.a-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}