<!-- Lưu ý : cần phải sửa lại các element, style bên trong cho phù hợp. -->
<div    class="modal  fade" id="del-acc-modal" tabindex="-1" 
role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document"
style="width: 1000px;">
<!-- Note: Phải để style ngay trong div.modal-content thì nó mới áp dụng -->
<div    class="modal-content" 
        style = "
        border-color: #DA282D; border-width: 3px;
        width: 600px;">
    <div    class="modal-header justify-content-center"
            style="background-color:#DA282D; color:white;">
        <h5 class="modal-title" id="exampleModalLabel" 
        >XÓA TÀI KHOẢN<nav></nav></h5>
    
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- Thêm các element trong thân modal vào đây -->
    </div>
    <div class="modal-footer justify-content-center">
        <button type="button" class="button-red"
                style="padding:10px; width:160px; font-size: 18px;">(Làm gì đó)</button>
    </div>
</div>
</div>
</div>
