<!-- Component file - load by jQuery to generate component -->
<link rel="stylesheet" href=/SELLER/component/product_side_menu/product_side_menu.css">
<div class="container ">
    <!-- Xin chao, <name> -->
    <p class="welcome_p">
        Xin chào, Nguyễn Văn A
    </p>
    <!-- Contain items -->
    <div class="item_container">
        <a href="/seller/profile" style="color:black"><p>Thông tin cơ bản</p></a>
        <a href="/seller/profile" style="color:black"><p>Hồ sơ kinh doanh</p></a>
        <a href="/seller/profile" style="color:black"><p>Tình trạng </p></a>
        <a href="/seller/profile" style="color:black"><p>Cài đặt tài khoản</p></a>
    </div>
    <!-- A red line on the right side -->
    <div class="line"> </div>
</div>
