<!-- Component file - load by jQuery to generate component -->
<!-- Href : sử dụng đường dẫn theo server (không cho load = local) -->
<link rel="stylesheet" href="/component/header/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<div class="navbar_header navbar" >
    <a href="/user/search_result?type=0" style="color:black"><i class="fa fa-fw fa-mobile" style="font-size:36px;"></i>ĐIỆN THOẠI</a>
    <a href="/user/search_result?type=1"  style="color:black"><i class="fa fa-fw fa-camera-retro" style="font-size:36px"></i>MÁY ẢNH</a>
    <a href="/user/search_result?type=2"  style="color:black"><i class="fa fa-fw fa-laptop" style="font-size:36px"></i>MÁY TÍNH</a>
    <a href="/user/search_result?type=3"  style="color:black"><i class="fa fa-fw fa-book" style="font-size:36px"></i>SÁCH HAY</a>
    <a href="/user/search_result?type=4"  style="color:black"><i class="fa fa-fw fa-shopping-bag" style="font-size:36px"></i>THỜI TRANG</a>
    <a href="/user/search_result?type=5"  style="color:black"><i class="fa fa-fw fa-headphones"  style="font-size:36px"></i>PHỤ KIỆN</a>
    <a href="/user/search_result?type=6"  style="color:black"><i class="fa fa-fw fa-futbol-o" style="font-size:36px"></i>THỂ THAO</a>
</div>
