<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="./rating_slider.css">
</head>

<body>
    <div class="slide_container">
        <input type="range" min="1" max="5" value="3" class="custom_slider" id="myRange">
        <div class="label_container">
            <p>Tuyệt!</p>
            <p>Tốt</p>
            <p>Được</p>
            <p>Chưa tốt</p>
            <p>Tệ!</p>
        </div>
    </div>
</body>

</html>