<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="./account_side_menu.css">
</head>

<body>
    <div class="container">
        <!-- Xin chao, <name> -->
        <p class="welcome_p">
            Xin chào, Nguyễn Văn A
        </p>
        <!-- Contain items -->
        <div class="item_container">
            <p>Thông tin tài khoản</p>
            <p>Đơn hàng của bạn</p>
            <p>Sản phẩm yêu thích</p>
            <p>Xóa hoặc tạm khóa tài khoản</p>
        </div>
        <!-- A red line on the right side -->
        <div class="line"> </div>
    </div>
</body>

</html>