<!-- Component file - load by jQuery to generate component -->
<link rel="stylesheet" href="/component/account_side_menu/account_side_menu.css">
<div class="menu_container ">
    <!-- Xin chao, <name> -->
    <p class="welcome_p">
        Xin chào, {{firstname}}
    </p>
    <!-- Contain items -->
    <div class="item_container">
        <p><a href="/user/profile" style="color:black">Thông tin tài khoản</a></p>
        <p><a href="/user/orders" style="color:black">Đơn hàng của bạn</a></p>
        <p><a href="/user/favorite_product" style="color:black">Sản phẩm yêu thích</a></p>
        <p><a href="/user/delete_account" style="color:black">Xóa hoặc tạm khóa tài khoản</a></p>
    </div>
    <!-- A red line on the right side -->
    <div class="line"> </div>
</div>