
div.line-1{
    text-align: center;
    width: 100%;
    border: 2px;
    border-color: #FFECEC;
    border-style: solid;
    margin-bottom: 30px;
    margin-top: 30px;   
}

div > div.items-container {
    /* justify-content: space-evenly; */
    /* min-width: 400px; */
    border: 1px black;
}

div > div.item-column{
    position: relative;
    margin-left:25px;
    margin-top: 25px;
}

#side_bar div.line{
    height: 900px;
}